{% extends 'partials/_base.html' %}
{% block title %}
Abhigam | Admit Patient
{% endblock title %}
{% block container-fluid %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-ambulance"></i>&nbsp; Admit Patient</h1>
    </div>
</div>
<section id="color-registration">
<div class="card">
    <div class="shadow">
        {% include 'partials/_alerts.html' %}
        <div class="row-md-12 px-4 py-3">
            <form action="" method="post">
              {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-1">
                      <label for="patientId">Patient ID</label>
                      <input type="text" class="form-control" id="patientId" value="{{ patient_id }}" disabled>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="patientName">Patient Name</label>
                      <input type="text" class="form-control" id="patientName" name="patientName" placeholder="John Doe" required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="agebox">Age</label>
                        <input type="number" class="form-control" id="agebox" name="agebox" placeholder="Age" required>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="agebox">Gender</label>
                        <select class="form-control" id="gender" name="gender" required>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="birthDate">Birth Date</label>
                        <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date" required>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="fatherName">Father/Husband Name</label>
                      <input type="text" class="form-control" id="fatherName" name="fatherName" placeholder="Father/Husband Name" required>
                    </div>
                  </div>
                  <div class="form-row">
                    
                    <div class="form-group col-md-2">
                        <label for="admitDate">Admit Date</label>
                        <input type="date" class="form-control" id="admitDate" name="admitDate" placeholder="mm/dd/yyyy" required>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="admitTime">Admit Time</label>
                        <input type="time" class="form-control" id="admitTime" name="admitTime" placeholder="hh:ii" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="referby">Refer by</label>
                        <input type="text" class="form-control" id="referby" name="referby" placeholder="Refer by" required>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="information_givenby">Information Given by</label>
                        <input type="text" class="form-control" id="information_givenby" name="information_givenby" placeholder="Information Given by" required>
                      </div>
                  </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="patient_email">Patient's Email</label>
                      <input type="email" class="form-control" id="patient_email" name="patient_email" placeholder="Patient Email" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="emailrelative">Relative's Email</label>
                      <input type="email" class="form-control" id="emailrelative" name="emailrelative" placeholder="Relative Email" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="relation">Relation with patient</label>
                      <input type="text" class="form-control" id="relation" name="relation" placeholder="Relation with patient" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="idproofname">ID Proof type</label>
                      <input type="text" name="idproofname" id="idproofname" class="form-control" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="idproofnumber">ID Proof number</label>
                      <input type="text" name="idproofnumber" id="idproofnumber" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="patientPhone">Patient's Phone</label>
                      <input type="tel" pattern="[0-9]{10}" class="form-control" id="patientPhone" name="patientPhone" placeholder="Patient Phone" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="Phonerelative">Relative's Phone</label>
                      <input type="tel" pattern="[0-9]{10}" class="form-control" id="Phonerelative" name="Phonerelative" placeholder="Relative Phone" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress1">Address line 1</label>
                    <input type="text" class="form-control" id="inputAddress1" name="inputAddress1" placeholder="1234 Society" required>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address line 2</label>
                    <input type="text" class="form-control" id="inputAddress2" name="inputAddress2" placeholder="abc road" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity" name="inputCity" placeholder="Himatnagar" required>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputDistrict">District</label>
                      <input type="text" class="form-control" id="inputDistrict" name="inputDistrict" placeholder="Sabarkantha" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <input type="text" class="form-control" id="inputState" name="inputState" placeholder="Gujarat" required>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputPin">Pin</label>
                      <input type="number" class="form-control" id="inputPin" name="inputPin" min="100000" max="999999" placeholder="383001" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="treating">Treating Doctor(fix)</label>
                      <select name="treating_doctor" id="treating" class="form-control" required>
                        {% for doctor_name in doctor_list %}
                        <option value="{{doctor_name.id}}">{{doctor_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="physician_charge">Physician Charge</label>
                      <input type="number" id="physician_charge" name="physician_charge" placeholder="physician charge" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="mediclaim">Medi-claim</label>
                      <select name="mediclaim" id="mediclaim" class="form-control" required>
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="Phonerelative">Room Category</label>
                      <select name="roomCategory" id="roomCategory" class="form-control" required>
                        {% for room in room_types %}
                        <option value="{{room.id}}">{{room.ROOM_TYPE}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="roomprice">Room Price</label>
                      <input type="number" class="form-control" name="room_price" id="room_price" placeholder="Room Price" min="0" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="confirmadmitting" onchange="document.getElementById('submitbtn').disabled = !this.checked;">
                      <label class="form-check-label" for="confirmadmitting">
                        Confirm Admit
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" id="submitbtn" disabled> Admit</button>
            </form>
        </div>
    </div>
</div>
</section>
<script>
  var d = new Date();

  var month = d.getMonth()+1;
  var day = d.getDate();

  var output = d.getFullYear() + '-' +(month<10 ? '0' : '') + month + '-' +(day<10 ? '0' : '') + day;
  var time = (d.getHours()<10 ? '0' : '')+d.getHours() + ":" + (d.getMinutes()<10 ? '0':'')+d.getMinutes()
  $(document).ready(function(){$('#admitDate').attr({'value':output}); $('#admitTime').attr({'value':time});});

</script>
{% endblock container-fluid %}