{% extends 'partials/_base.html' %}
{% load static %}
{% load extra_tags %}
{% block title %}
Abhigam | All Patients Profile
{% endblock title %}
{% block container-fluid %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-users"></i>&nbsp; All Patients' Profile</h1>
    </div>
</div>

<section id="color-registration">
    <div class="card">
        <div class="shadow">
            {% include 'partials/_alerts.html' %}
            <div class="row-md-12 px-4 py-3">
                <div class="row-md-12 px-2 py-3" id="content">
                    <table width="100%" class="table table-bordered table-hover table-responsive dataTable" id="pt_table">
                        <thead>
                            <th>Patient ID</th>
                            <th>Patient Name</th>
                            <th width="5%">Admit Date</th>
                            <th width="5%">Discharge Date</th>
                            <th>Days</th>
                            <th>Room</th>
                            <th width="2%" style="text-align: center;">Physician visit</th>
                            <th>Deposit</th>
                            <th>Radiology</th>
                            <th>Pathology</th>
                            <th>Pharmacy</th>
                            <th>Hospital Cost</th>
                            <th>Other</th>
                            <th>Hospital Credit</th>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr>
                                <td>
                                    {{ patient.PATIENT_ID }}
                                </td>
                                <td>
                                    {{ patient.PATIENT_NAME }}
                                </td>
                                <td>
                                    {{ patient.PATIENT_ADMIT_DATE_TIME|date:"d/m/Y" }}
                                </td>
                                <td>
                                    {{ patient.PATIENT_DISCHARGE_DATE_TIME|date:"d/m/Y"|default_if_none:"In charge" }}
                                </td>
                                <td>
                                    {% patientdays patient %}
                                </td>
                                <td>
                                    {{ patient.PATIENT_ROOM_TYPE }}
                                </td>
                                <td>
                                    {% physician_visit patient %}
                                </td>
                                <td>
                                    {% deposit_total patient %}
                                </td>
                                <td>
                                    {% radio_total patient %}
                                </td>
                                <td>
                                    {% patho_total patient %}
                                </td>
                                <td>
                                    {% pharma_total patient %}
                                </td>
                                <td>
                                    {% hosp_total patient %}
                                </td>
                                <td>
                                    {% other_total patient %}
                                </td>
                                <td id="debit_{{ forloop.counter }}">
                                    {% grand_total patient %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="13"><b>Total</b></td>
                                <td id="total"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="editor"></div>
                
                <div class="row-md-12 px-2 py-3">
                    <button class="btn btn-success bg-transparent" style="color: green;" id="gen_xl"> <i class="far fa-file-excel"></i> Generate Excel</button>
                </div>
            </div>
            
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        var total = 0;
        for(i=1;i <= {{patients.count}}; i++){
            var debitval = parseInt($('#debit_'+i).text());
            total += debitval;
            if(debitval<0){
                $('#debit_'+i).css({'color':'red', 'font-size':'18px', 'font-weight':'800'});
            }
        }
        console.log('ok');
        $("#total").text(total);
    });

</script>
<script type="text/javascript">
    function tableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    }
    </script>
<script>
$("#gen_xl").click(function(){
    tableToExcel('pt_table', 'All Patient Details')
});
$(document).ready(function() {
    $('#pt_table').DataTable(
      {
        "order":[[1,"asc"]]
      }
    );
} );
</script>

{% endblock container-fluid %}