{% load static %}
{% load extra_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <!-- iCheck -->
    <style>
        .new-jumbo{
            background-color: #d3d3d3;
            border-radius: 50px;
        }
        .table1{
            padding-left: 5px;
            padding-top: 3px;
        }
    </style>
</head>
<body>
    <div class="new-jumbo">
        <div class="container">
          <h1 class="display-4">
              <img src="{% static 'images/ABHIGAM-LOGO.png' %}" width="600px" height="300px" alt="">
          </h1>
        </div>
      </div>
    <br>
    
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <h5><b>Bill Number:</b>{{bill_id}}</h5> 
                        </td>
                        <td>
                            <h5><b>Patient ID :</b>{{patient.PATIENT_ID}} </h5> 
                        </td>
                        <td>
                            <h5><b>Patient Name:</b>{{patient.PATIENT_NAME}}</h5>
                            
                        </td>
                        <td>
                            <h5><b>Father/Husband Name :</b>{{patient.PATIENT_FHR_HUS_NAME}}</h5> 
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <h5><b>Patient Birthday: </b>{{patient.PATIENT_BIRTH_DATE|date:"d/m/Y"}}</h5> 
                        </td>
                        <td>
                            <h5><b>Admit Date: </b>{{patient.PATIENT_ADMIT_DATE_TIME|date:"H:i d/m/Y"}}</h5> 
                        </td>
                        <td>
                            <h5><b>Discharge Date: </b>{{patient.PATIENT_DISCHARGE_DATE_TIME|date:"H:i d/m/Y"}}</h5> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><b>Patient Phone number: </b>{{patient.PATIENT_MOB_NUM}}</h5> 
                        </td>
                        <td>
                            <h5><b>Patient Email: </b>{{patient.PATIENT_EMAIL_ID}}</h5> 
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td valign="top"><h5><b>Patient Address: </b></h5></td>
                                    <td>{{patient.PATIENT_STREET1}} <br> {{patient.PATIENT_STREET2}} <br> {{patient.PATIENT_CITY}}, {{patient.PATIENT_DISTRICT}}, {{patient.PATIENT_STATE}} - {{patient.PATIENT_PINCODE}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><b>PAN Number :</b> {{pan_no}}</h5> 
                        </td>
                        <td>
                            <h5><b>CIN Number :</b> {{cin_no}}</h5>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="1px" class="table1">
        <tr>
            <td width="30%">
                Description
            </td>
            <td width="15%">
                Days
            </td>
            <td width="20%">
                Price
            </td>
            <td>
                Total(Price*Days)
            </td>
        </tr>
        <tr>
            <td>
                Covid Care Charges(HDU/HDU+Isolation)
            </td>
            <td>
            {% patientdays patient %}
            </td>
            <td>{% room_type patient %}</td>
            <td>{% total_room_cost patient %}</td>
        </tr>
        <tr>
            <td>
                Initial Physician Charge
            </td>
            <td>
                1(Fixed)
            </td>
            <td>
                {{ patient.PATIENT_PHYSICIAN_CHARGE }}
            </td>
            <td>{{ patient.PATIENT_PHYSICIAN_CHARGE }}</td>
        </tr>
        <tr>
            <td>
                Physician Consulting Charge
            </td>
            <td>
                {% patientdays patient %}
            </td>
            <td>
                {% phy_cost patient %}
            </td>
            <td>{% phy_cost_total patient %}</td>
        </tr>

    </table>
</body>
</html>