{% extends 'partials/_base.html' %}
{% block title %}
 Abhigam | Patient Daily Expenses
{% endblock title %}
{% block container-fluid %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fas fa-dollar-sign"></i>&nbsp; Patient's Daily Expenses</h1>
    </div>
</div>
<section class="color-registration">
    <div class="card">
        <div class="shadow">
            {% include 'partials/_alerts.html' %}
            <div class="row-md-12 px-4 py-3">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label for="patient_id">Patient's ID</label>
                            <input type="text" id="patient_id" name="patient_id" class="form-control" value="AC" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="expenseDate">Date</label>
                            <input type="date" class="form-control" id="expenseDate" placeholder="01/01/1001" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="expensetime">Time</label>
                            <input type="time" class="form-control" id="expensetime" placeholder="01/01/1001" required>
                        </div>
                    </div>
                    <br><br>
                    <div class="row-md-12 border-bottom">
                        <h5>Expenses</h5>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="Radiology">Radiology</label>
                            <input type="number" class="form-control" id="Radiology" placeholder="Radiology" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pathology">Pathology</label>
                            <input type="number" class="form-control" id="Pathology" placeholder="Pathology" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pharmacy">Pharmacy</label>
                            <input type="number" class="form-control" id="Pharmacy" placeholder="Pharmacy" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Other">Other</label>
                            <input type="number" class="form-control" id="Other" placeholder="Other" min="0" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Remarks">Remarks</label>
                            <input type="text" class="form-control" id="Remarks" placeholder="Remarks">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock container-fluid %}