{% extends 'partials/_base.html' %}
{% block title %}
 Abhigam | Patient Daily Expenses
{% endblock title %}
{% block container-fluid %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fas fa-dollar-sign"></i>&nbsp; Patient's Daily Expenses</h1>
    </div>
</div>
<section class="color-registration">
    <div class="card">
        <div class="shadow">
            {% include 'partials/_alerts.html' %}
            <div class="row-md-12 px-4 py-3">
                <form method="post" id="pt_form" data-patient-url="{% url 'patientsearch' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="patient_id">Patient's ID</label>
                            <select name="patient_id" id="patient_id" required>
                                <option value="" selected disabled>Select Patient Id</option>
                                {% for patient in patients %}
                                <option value="{{ patient.PATIENT_ID }}">{{ patient.PATIENT_ID }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row" id="patient_name">

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="expenseDate">Date</label>
                            <input type="date" class="form-control" id="expenseDate" name="expenseDate" placeholder="01/01/1001" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="expenseTime">Time</label>
                            <input type="time" class="form-control" id="expenseTime" name="expenseTime" placeholder="01/01/1001" required>
                        </div>
                    </div>
                    <br><br>
                    <div class="row-md-12 border-bottom">
                        <h5>Expenses</h5>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="Radiology">Radiology</label>
                            <input type="number" class="form-control" id="Radiology" name="Radiology" placeholder="Radiology" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pathology">Pathology</label>
                            <input type="number" class="form-control" id="Pathology" name="Pathology" placeholder="Pathology" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Pharmacy">Pharmacy</label>
                            <input type="number" class="form-control" id="Pharmacy" name="Pharmacy" placeholder="Pharmacy" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Hospital_Expense">Hospital Expenses</label>
                            <input type="number" class="form-control" id="Hospital_Expenses" name="Hospital_Expenses" placeholder="Hospital Expense" min="0" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Other">Other</label>
                            <input type="number" class="form-control" id="Other" name="Other" placeholder="Other" min="0" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Remarks">Remarks</label>
                            <input type="text" class="form-control" id="Remarks" name="remarks" placeholder="Remarks">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $("#patient_id").select2();
    $("#patient_id").change(function () {
      var url = $("#pt_form").attr("data-patient-url");
      var patientId = $(this).find("option:selected").val();
      console.log("clicked");
      $.ajax({
        url: url,
        data: {
          'patient_id': patientId
        },
        success: function (data) {
          $("#patient_name").html(data);
          console.log(data);
        }
      });
  
    });
</script>
<script>
    var d = new Date();
  
    var month = d.getMonth()+1;
    var day = d.getDate();
  
    var output = d.getFullYear() + '-' +(month<10 ? '0' : '') + month + '-' +(day<10 ? '0' : '') + day;
    var time = (d.getHours()<10 ? '0' : '')+d.getHours() + ":" + (d.getMinutes()<10 ? '0':'')+d.getMinutes()
    $(document).ready(function(){$('#expenseDate').attr({'value':output}); $('#expenseTime').attr({'value':time});});
  
  </script>
{% endblock container-fluid %}