{% extends 'partials/_base.html' %}
{% block title %}
Abhigam | Reference Report
{% endblock title %}
{% block container-fluid %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-adddress-book"></i>&nbsp; Reference report</h1>
    </div>
</div>
<section id="color-registration">
    <div class="card">
        <div class="shadow">
            {% include 'partials/_alerts.html' %}
            <div class="row-md-12 px-4 py-3">
                <form id="dr_form" data-doctor-url="{% url 'reference_table' %}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="doctor_name">Doctor Name</label>
                            <select name="doctor_name" id="doctor_name" class="form-control">
                                <option value="" selected disabled>Select Doctor Name</option>
                                {% for doctor in doctors %}
                                    <option value="{{doctor}}">{{ doctor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                <br>
                <div class="row-md-12 px-3 py-2" id="patientData">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#doctor_name").change(function () {
      var url = $("#dr_form").attr("data-doctor-url");
      var DrId = $(this).find("option:selected").val();
      console.log("clicked");
      $.ajax({
        url: url,
        data: {
          'Dr': DrId
        },
        success: function (data) {
          $("#patientData").html(data);
          console.log(data);
        }
      });
  
    });
  </script>
{% endblock container-fluid %}