{% load extra_tags %}

Patient ID: {{patient.PATIENT_ID}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Patient Name: {{patient.PATIENT_NAME}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Admit Date: {{patient.PATIENT_ADMIT_DATE_TIME|date:"d-m-Y"}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Discharge Date:{{ patient.PATIENT_DISCHARGE_DATE_TIME|default_if_none:"" }}
<br>
<table width="100%" class="table table-bordered table-hover table-responsive" >
    <thead>
        <th>No</th>
        <th>Date</th>
        <th>Room</th>
        <th width="2%" style="text-align: center;">Physician visit</th>
        <th>Deposit</th>
        <th>Radiology</th>
        <th>Pathology</th>
        <th>Pharmacy</th>
        <th>Hospital Cost</th>
        <th>Other</th>
        <th>Hospital Credit</th>
    </thead>
    <tbody>
        {% for day in days %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% get_date patient day %}</td>
            <td>{{ patient.PATIENT_ROOM_TYPE }}</td>
            <td>1</td>
            <td>{% depositamount patient day %}</td>
            <td>{% radio_pt patient day %}</td>
            <td>{% patho_pt patient day %}</td>
            <td>{% pharma_pt patient day %}</td>
            <td>{% hosp_pt patient day %}</td>
            <td>{% other_pt patient day %}</td>
            <td id="debit_{{ forloop.counter }}">{% hosp_debit patient day %}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><b>Total</b></td>
            <td><b>{{ patient.PATIENT_ROOM_TYPE }}</b></td>
            <td><b>{% physician_visit patient %}</b></td>
            <td><b>{% deposit_total patient %}</b></td>
            <td><b>{% radio_total patient %}</b></td>
            <td><b>{% patho_total patient %}</b></td>
            <td><b>{% pharma_total patient %}</b></td>
            <td><b>{% hosp_total patient %}</b></td>
            <td><b>{% other_total patient %}</b></td>
            <td><b>{% grand_total patient %}</b></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function(){
        for(i=1;i <= {{days|length}}; i++){
            var debitval = parseInt($('#debit_'+i).text());
            if(debitval<0){
                $('#debit_'+i).css({'color':'red', 'font-size':'18px', 'font-weight':'800'});
            }
        }
        console.log('ok');

    });
</script>